*{
    margin: 0;
    padding: 0;
}

.first{
    background-color: white;
    width: 100vw;
    height: 60px;
    font-family:"Raleway", sans-serif; 
}
.LOGO{
    padding-top: 20px;
    padding-left:20px;
    color: black;
    text-decoration: dotted;
}
.head{
    float: right;
    padding-top: 20px;
  text-align: right;
  margin-right: 20px; 

}
.text{
    margin-right: 20px;
    color: black;
    text-decoration: dotted;
}
.text:hover{
    background-color: rgba(209, 208, 207, 0.348);
}
.one{
    background-image: url("computer.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:580px;
    margin: 0;
    color: white;
    padding-top: 150px;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
}
.start{
    font-size: 64px;
    font-family: "Raleway", sans-serif;
   
}
.stop{
    font-size: 18px;
    font-family:"Raleway", sans-serif;
    margin-top: 70px;
}
.learn{
    font-size: 17px;
    font-family:"Raleway", sans-serif;
    margin-top: 40px;
    color: black;
    text-decoration: dotted;
    background-color: rgba(220, 220, 220, 0.189);
    width: 210px;
    padding: 19px 24px;
    
}
.learn:hover{
    background-color: rgba(242, 241, 241, 0.816);
}
.icon{
    padding-top: 150px;
    color: rgb(161, 161, 161);
}
.two{
    position: relative;
    height: 770px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.ABAUT{
    margin-top: 240px;
    font-size: 24px;
}
.key{
    margin-top:30px ;
    font-size: 20px;
}
.four{
    position: absolute;
    margin-top:360px;
    display: flex;
    justify-content: center;
}
.fa-desktop{
    font-size:60px ;
    margin-left: 125px;
}
.fa-heart{
    font-size: 60px;
    margin-left: 110px;
}
.fa-gem{
    font-size: 60px;
    margin-left: 110px;
}
.fa-gear{
    font-size: 60px;
    margin-left: 110px;
}
.responsive{
    margin-top: 30px;
    margin-left: 110px;
    font-size: 21px;
}
.Lorem{
    line-height: 25px;
    word-spacing: 8px;
    text-align: center;
    width: 300px;
    margin-top: 50px;
    font-family: sans-serif
}
.box{
    margin-top: 30px;
    margin-right:80px;
}
.boxx{
    margin-top: 30px;
}

